

/* =Header
  ----------------------------------------------- */
  .header .primary a {
    font-size: 1.125em; /* 18px / @font-size */
    font-family: "Brandon Grot W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon */
    text-transform: uppercase;
  }


/* =Feed
  ----------------------------------------------- */
  .feed {
    margin-top: 3em;
    margin-right: 332px;
  }
  .feed header {
    margin-bottom: 1.5em;
  }
  .feed header:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .feed h1 {
    font-size: 1.125em; /* 18px / @font-size */
    font-family: "Brandon Grot W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon */
    text-transform: uppercase;
  }
  .feed h1,
  .feed nav {
    margin-top: 0;
    display: inline-block;
  }
  .feed header form {
    margin-left: 1em;
  }
  .feed header form,
  .feed header p {
    margin-top: 0;
    display: inline-block;
  }
  .feed header select {
    font-size: inherit;
    vertical-align: middle;
  }
  .feed header label > span:first-child,
  .feed header button {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  .feed nav {
    float: right;
  }
  .feed nav a {
    color: rgb(182, 185, 192);
    font-weight: bold;
    background: rgb(249, 249, 249);
    border: 0.0625em solid rgb(218, 220, 224);
    padding: 0.5em 1em;
    border-radius: 0.25em;
  }
  .feed .more a {
    display: block;
    font-weight: bold;
    font-size: 1.125em; /* 18px / @font-size */
    background-color: rgb(249, 249, 249); /* @mercury */
    border: 1px solid rgb(225, 225, 225);
    text-align: center;
    padding: 0.5em;
  }
  .feed article {
    border-top: 1px solid rgb(218, 220, 224);
    color: rgb(153, 153, 153); /* @aluminum */
    position: relative;
    padding-top    : 3.5em; /* 56px / @font-size */
    padding-bottom : 2.5em; /* 40px / @font-size */
    padding-left   : 5.0em; /* 80px / @font-size */
  }
  .feed article.do {
    background: rgb(243, 253, 248);
    padding: 1.5em;
  }
  .feed article .body {
    max-width: 36.25em; /* 580px / @font-size */
    box-sizing: border-box;
  }
  .feed article.link .body,
  .feed article.comment .body {
    padding: 1.25em; /* 20px / @font-size */
    border: 0.0625em solid rgb(243, 243, 243); /* @bright-silver */
    background: rgb(253, 253, 253);
    border-radius: 0.25em;
  }
  .feed article .body:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .feed article.article .body > a > img {
    height: 6.25em; /* 100px / @font-size */
    width: auto;
    float: left;
    border-right: 1.25em solid white; /* 20px / @font-size */
  }
  .feed article.link .body > a > img,
  .feed article.comment .body > a > img {
    float: right;
    height: 3.625em; /* 58px / @font-size */
    width: auto;
    background: rgb(243, 243, 243); /* @bright-silver */
    padding: 0.0625em;
    margin-left: 1.25em; /* 20px / @font-size */
  }
  .feed article .body h2,
  .feed article .body h3 {
    display: inline;
  }
  .feed article .body h3 {
    font-size: 0.6875em; /* 11px / @font-size */
    color: rgb(153, 153, 153);
    white-space: nowrap;
  }
  .feed article .body h3 a {
    font-weight: bold;
  }
  .feed article h2 {
    margin: 0;
    font-size: 1.5em; /* 24px / @font-size */
    font-family: "FreightText Light", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @freight */
  }
  .feed article .time {
    float: right;
    color: rgb(204, 204, 204);
    font-size: 0.75em;
  }
  .feed article .count {
    float: right;
    margin-left: 0.5em;
    background: rgb(135, 233, 184);
    text-align: center;
    line-height: 1;
    padding: 2em 3em;
    border-radius: 100em;
  }
  .feed article .count strong {
    font-size: 8.125em; /* 130px / 16px */
    font-weight: normal;
    font-family: "TradeGothicW01-BoldCn20 675334", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    color: white;
    display: block;
  }
  .feed article .count span {
    font-size: 0.6875em; /* 11px / 16px */
    font-family: "Brandon Grot W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon */
    display: block;
    text-transform: uppercase;
    color: rgb(81, 140, 110);
  }
  .feed article footer {
    clear: both;
  }


/* =Source
  ----------------------------------------------- */
  .source .summary {
    margin-top: 0;
    font-size: 0.6875em; /* 11px / @font-size */
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(253, 253, 253);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgb(243, 243, 243); /* @bright-silver */
    padding: 0.75em 1.5em;
    border-bottom-right-radius: 0.5em;
  }
  .source .summary a {
    font-weight: bold;
  }
  .source .summary.has-image {
    padding-left: 7em;
    border-left-width: 0;
  }
  .source .summary img {
    width: 5.45454545454545em; /* 60px / 12px */
    height: auto;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: rgb(218, 220, 224);
    vertical-align: top;
    margin-right: 0.25em;
    position: absolute;
    top: 0;
    left: 0;
  }
  .source .details {
    margin-top: 0;
    top: 2.1em;
    position: absolute;
    z-index: 1;
    background: white;
    width: 21.875em; /* 350px / @font-size */
    box-sizing: border-box;
    border-radius: 0.25em;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(204, 204, 204);
    left: -9999px;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .source:hover  .details,
  .source:active .details,
  .source:focus  .details {
    left: auto;
    opacity: 1;
  }
  .source .details .container {
    border: 0.25em solid rgb(239, 239, 239);
    padding: 0.375em; /* 6px / 16px */
    padding-left: 4.75em;
    border-radius: 0.25em;
    position: relative;
  }
  .source .details img {
    width: 3.75em; /* 60px / @font-size  */
    left: 0.375em;
    height: auto;
    position: absolute;
  }
  .source .details h3 {
    font-size: inherit;
    font-weight: bold;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
  }
  .source .details a p {
    margin-top: 0;
    font-size: 0.75em; /* 12px / @font-size */
    color: rgb(153, 153, 153); /* @aluminum */
    margin-bottom: 0;
  }
  .source .details .container > p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    border-top: 1px solid rgb(218, 220, 224);
    padding-top: 0.75em;
    color: rgb(102, 102, 102); /* @steel */
    font-size: 0.875em; /* 14px / @font-size */
  }
  .source .details form {
    margin-top: 0;
    position: absolute;
    top   : 0.375em; /* source-details.padding */
    right : 0.375em;
  }
  .source .details form p {
    margin-top: 0;
  }
  .source .details button {
    border-radius: 0.25em;
    padding: 0.85em 2.25em;
    font-size: 0.875em; /* 14px / @font-size */
    font-weight: bold;
    text-align: center;
    background-color: rgb(135, 233, 184);
    color: white;
    transition: all 0.2s;
    border-width: 0;
  }
  .source .details button:hover,
  .source .details button:active,
  .source .details button:focus {
    background-color: rgb(115, 213, 164);
  }


/* =Comment
  ----------------------------------------------- */
  article .comment {
    margin-top: 1.25em;
    max-width: 36.25em; /* 580px / @font-size */
    box-sizing: border-box;
    padding-right: 2em;
    padding-left: 3em;
  }
  article .comment .author {
    font-size: 0.6875em; /* 11px / @font-size */
    color: rgb(153, 153, 153);
  }
  article .comment .author a {
    font-weight: bold;
    margin-right: 0.5em;
  }
  article .comment .author img {
    width: 2.72727272727273em; /* 30px / 11px */
    height: auto;
    vertical-align: middle;
    margin-right: 0.5em;
    margin-left: -3.5em;
  }
  article .comment p {
    color: black;
    font-size: 0.875em; /* 14px / @font-size */
  }
  article .comment p a {
    color: rgb(102, 153, 204);
  }
  article .comment p a:hover,
  article .comment p a:active,
  article .comment p a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }


/* =Social
  ----------------------------------------------- */
  .social {
    margin-top: 0.75em;
    border-top: 1px solid rgb(243, 243, 243); /* @bright-silver */
    padding-top: 0.75em;
  }
  .social p,
  .social form {
    display: inline;
  }
  .social p {
    margin-right: 1em;
  }

  .votes    a,
  .comments a {
    color: inherit;
    font-size: 0.75em;
    opacity: 0.6;
  }
  .votes    a:hover,
  .votes    a:active,
  .votes    a:focus,
  .comments a:hover,
  .comments a:active,
  .comments a:focus {
    opacity: 1;
  }
  .votes img,
  .comments img {
    vertical-align: middle;
    margin-right: 0.25em
  }

