

/* =Elements
  ----------------------------------------------- */
  body {
    font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 3em 3em; /* @body-padding */
    background: white;
    color: black;
    min-width: 70em;
  }
  a {
    color: rgb(102, 102, 102); /* @steel */
    text-decoration: none;
    transition: all 0.2s;
  }
  a:hover,
  a:active,
  a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }
  button {
    cursor: pointer;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }


/* =Containers
  ----------------------------------------------- */
  .header              > .container,
  .feed-advertisement > .container {
    width: 70em; /* 1120px / 16px */
    margin-left: auto;
    margin-right: auto;
  }
  .carousel h1 {
    width: 46.66666666666667em; /* 1120px / 24px */
    margin-left: auto;
    margin-right: auto;
  }


/* =Footer
  ----------------------------------------------- */
  body > .footer {
    background: transparent url(images/footer.png) left no-repeat;
    height: 130px;
    width: 70em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgb(221, 221, 221); /* @silver */
    padding: 1.5em 0;
    margin: 4.5em auto 0;
  }


/* =Header
  ----------------------------------------------- */
  body > header {
    text-align: right;
    border-bottom: 1px solid rgb(221, 221, 221); /* @silver */
    margin-left: -3em; /* @body-padding x -1 */
    margin-right: -3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .header:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .header h2,
  .header h3,
  .header form,
  .header form p,
  .header nav,
  .header nav ul {
    display: inline-block;
    margin: 0;
  }
  .header h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "TradeGothicW01-BoldCn20 675334", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    color: rgb(35, 31, 32);
    text-transform: uppercase;
    float: left;
    margin-right: 1em;
  }
  .header h2 a,
  .header h2 img {
    display: block;
  }
  .header form label > span:first-child {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  .header form label br {
    display: none;
  }
  .header .primary {
    border-width: 0 1px;
    border-style: solid;
    border-color: rgb(239, 239, 239);
    padding: 0.65em 3em;
    margin: 0 1.5em;
  }
  .header .primary ul,
  .header .primary li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .header .primary li {
    display: inline;
    margin-right: 3em;

  }
  .header .primary li:last-child {
    margin-right: 0;
  }
  .header .primary a {
    font-size: 1.375em; /* 22px / @font-size */
  }


/* =Search
  ----------------------------------------------- */
  .search input[type="text"] {
    border-width: 0;
    border-radius: 0.25em;
    border: 1px solid rgb(225, 225, 225); /* @bright-silver */

    width: 25em;

    margin: 0;
    font-size: 0.9375em;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(102, 102, 102); /* @steel */

    /* TRICKY: Some browsers don’t allow line height to be
    adjusted on text fields, so assume a line height of normal
    and rely on padding. */
    padding: 0.45em 0.6em;
  }
  .search {
    position: relative;
  }
  .search button {
    display: inline-block;
    border-width: 0;
    background: white url(images/c/lense.png) center no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    width: 3em;
    height: 2.5em;
    position: absolute;
    z-index: 1;
    top: 0.3em;
    right: 0.6em;
  }


/* =Account
  ----------------------------------------------- */
  .header .account h3 img {
    vertical-align: middle;
    border: 1px solid rgb(153, 153, 153); /* @aluminum */
  }
  .header .account h3 span {
    display: inline-block;
    background: rgb(249, 249, 249);
    border: 1px solid rgb(153, 153, 153); /* @aluminum */
    border-left-width: 0;
    width: 38px;
    height: 38px;
    vertical-align: middle;
    background: transparent url(images/c/triangle.svg) center no-repeat;
    border-top-right-radius    : 0.15em;
    border-bottom-right-radius : 0.15em;
  }
  .header .account {
    position: relative;
  }
  .header .account .options {
    position: absolute;
    z-index: 1;
    left: -9999px;
    text-align: left;
    opacity: 0;
    transition: opacity 0.2s;
    padding-top: 1em; /* pointer-image.height - @font-size */
  }
  .header .account:hover  .options,
  .header .account:active .options,
  .header .account:focus  .options {
    left: auto;
    right: 0;
    opacity: 1;
  }


  /* If the page is scripted, delay the hover effect */
  /*
  .header .account.scripted:hover  .options,
  .header .account.scripted:active .options,
  .header .account.scripted:focus  .options {
    left: -9999px;
    opacity: 0;
  }
  .header .account.active:hover  .options,
  .header .account.active:active .options,
  .header .account.active:focus  .options {
    left: auto;
    opacity: 1;
  }
  */


  .header .account .container {
    background: white;
    border: 2px solid rgb(51, 51, 51);
  }
  .header .account .container:after {
    content: "";
    display: block;
    width: 1.375em; /* 22px / @font-size */
    height: 1.1875em; /* 19px / @font-size */
    background: transparent url(images/c/pointer.svg) bottom no-repeat;
    position: absolute;
    top: 0;
    right: 2em;
  }
  .header .account ul,
  .header .account li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .header .account a {
    display: block;
  }
  .header .account ul {
    display: block;
    padding: 0.5em 1em;
    border-bottom: 1px solid rgb(218, 220, 225);
  }
  .header .account li a {
    color: rgb(153, 153, 153); /* @aluminum */
    font-weight: bold;
    font-size: 0.8125em; /* 13px / 16px */
    line-height: 2.5;
  }
  .header .account table {
    text-align: center;
    border-collapse: collapse;
  }
  .header .account table a {
    display: block;
    padding: 0.25em 0.75em;
  }
  .header .account th a {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .header .account th,
  .header .account td {
    border-width: 0;
    padding: 0;
  }
  .header .account td + td {
    border-left: 1px solid white;
  }
  .header .account th a {
    color: rgb(95, 93, 103);
    font-weight: normal;
    font-size: 0.6875em; /* 11px / 16px */
    font-family: "Brandon Grot W01 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon-medium */
    text-transform: uppercase;
  }
  .header .account td a {
    background-color: rgb(81, 80, 86);
    color: white;
    font-weight: bold;
  }

  /* Make the account menu behave like a dropdown */
  .header .account.scripted h3 {
    cursor: pointer;
  }
  .header .account.scripted h3:hover,
  .header .account.scripted h3:active,
  .header .account.scripted h3:focus {
    color: rgb(113, 179, 247);
    border-color: rgb(113, 179, 247);
  }
  .header .account.scripted .options {
    transition: opacity 0.2s;
    position: absolute;
    left: auto;
    right: 0;
    opacity: 1;
  }
  .header .account.summary .options {
    left: -9999px;
    right: auto;
    opacity: 0;
  }


/* =Carousel
  ----------------------------------------------- */
  .carousel {
    margin-left: -3em; /* @body-padding x -1 */
    margin-right: -3em;
  }


/* =Advertisement
  ----------------------------------------------- */
  .feed-advertisement > .container {
    position: relative;
  }
  .advertisement {
    position: absolute;
    right: 0;
  }


/* =Feed
  ----------------------------------------------- */
  .feed {
    margin-top: 1.5em;
    margin-right: 332px;
  }
  .feed > header {
    margin-bottom: 1.5em;
  }
  .feed > header:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .feed h1 {
    font-size: 0.875em; /* 14px / @font-size */
    font-family: "Brandon Grot W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon-bold */
    text-transform: uppercase;
    margin-right: 1em;
  }
  .feed h1,
  .feed nav {
    margin-top: 0;
    display: inline-block;
  }


/* =Filter
  ----------------------------------------------- */
  .feed .filter {
    position: relative;
  }
  .feed .filter h2,
  .feed .filter ul {
    min-width: 18em;
    box-sizing: border-box;
  }
  .feed .filter ul,
  .feed .filter li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .feed .filter ul {
    color: rgb(182, 185, 192);
    font-weight: bold;
    font-size: 0.875em;
    background: rgb(249, 249, 249);
    border: 1px solid rgb(218, 220, 224);
    border-radius: 0.25em;
    display: inline-block;
  }
  .feed .filter li {
    margin-right: 0.5em;
  }
  .feed .filter ul a {
    display: block;
    padding: 0.75em 1.25em;
  }
  .feed .filter h2 {
    margin: 0;
    color: rgb(182, 185, 192);
    font-weight: bold;
    font-size: 0.875em;
    background: rgb(249, 249, 249);
    border: 1px solid rgb(218, 220, 224);
    padding: 0.75em 1.25em;
    border-radius: 0.25em;
    display: inline-block;
  }
  .feed .filter h2:after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: inline-block;
    background: rgb(249, 249, 249);
    border: 1px solid transparent;
    width: 3em;
    height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    background: transparent url(images/c/triangle.svg) center no-repeat;
    border-top-right-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
    border-left-color: rgb(233, 234, 236);
  }
  .feed .filter ul {
    position: absolute;
    margin: 0;
    top: 0;
    z-index: 1;
    left: -9999px;
    text-align: left;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
  }
  .feed .filter:hover  ul,
  .feed .filter:active ul,
  .feed .filter:focus  ul {
    left: 0;
    opacity: 1;
    border-color: rgb(113, 179, 247); /* @link-color */
  }


  .feed .filter.scripted h2 {
    cursor: pointer;
  }
  .feed .filter.scripted h2:hover,
  .feed .filter.scripted h2:active,
  .feed .filter.scripted h2:focus {
    color: rgb(113, 179, 247); /* @link-color */
    border-color: rgb(113, 179, 247); /* @link-color */;
  }
  .feed .filter.scripted ul {
    transition: opacity 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }
  .feed .filter.summary ul {
    left: -9999px;
    opacity: 0;
  }


/* =Options
  ----------------------------------------------- */
  .feed header .options {
    float: right;
  }
  .feed header .options p {
    margin: 0 0 0 0.5em;
    display: inline-block;
  }
  .feed header .options a {
    color: rgb(182, 185, 192);
    font-weight: bold;
    font-size: 0.875em; /* 14px / @font-size */
    background: rgb(249, 249, 249);
    border: 1px solid rgb(218, 220, 224);
    padding: 0.75em 1.25em;
    border-radius: 0.25em;
    display: inline-block;
  }
  .feed header .options a:hover,
  .feed header .options a:active,
  .feed header .options a:focus {
    color: rgb(113, 179, 247); /* @link-color */
    border-color: rgb(113, 179, 247); /* @link-color */
  }
  .feed > .more a {
    margin-top: 3em;
    display: block;
    font-weight: bold;
    font-size: 1.125em; /* 18px / @font-size */
    background-color: rgb(249, 249, 249); /* @mercury */
    border: 1px solid rgb(225, 225, 225);
    text-align: center;
    padding: 0.5em;
  }

