

/* =Elements
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */

  /* Use "Helvetica Neue" as the default font (consider doing this throughout the site) */
  .activity-list {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  /* Set a base font size and line height for the activity list */
  .activity-list {
    font-size: 1em;       /* $font-size (16px) */
    line-height: 1.25em;  /* $line-height (20px) */
    color: black;
  }

  .activity-list section,
  .activity-list article {
    margin-top: 1.25em; /* $line-height */
  }
  .activity-list p {
    margin-top: 0.625em; /* $line-height / 2 */
    margin-bottom: 0.625em; /* $line-height / 2 */
  }

  /* Links */
  .activity-list a {
    color: rgb(102, 102, 102); /* $steel */
    color: rgb(102, 153, 204);
    text-decoration: none;
    transition: all 0.2s;
  }
  .activity-list a:hover,
  .activity-list a:active,
  .activity-list a:focus {
    color: rgb(113, 179, 247); /* $link-color */
  }
  .activity-list a.follow-button {
    color: white; /* Restore the base style */
  }

  /* Headlines */
  .activity-list h2 {
    margin: 0;
    font-size: 1.5em; /* 24px / $font-size */
    line-height: 1.25em; /* 30px / 24px */
    font-family: "FreightText Light", "FreightTextLight", "Helvetica Neue", Helvetica, Arial, sans-serif; /* $freight */
    font-weight: normal;
  }
  .activity-list .comment h2,
  .activity-list .follow h2 {
    font-family: inherit;
    font-size: inherit;
  }
  .activity-list .follow h2 {
    font-weight: bold;
  }

  /* Images */
  .activity-list .has-image:after {
    /* $clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .activity-list .has-image img {
    margin-right: 0.5em;
    float: left;
  }
  .activity-list .link h2 img {
    margin-right: 0;
    float: right;
    margin-left: 0.5em;
  }

  /* Timestamp */
  .source + .time {
    color: rgb(204, 204, 204);
    font-size: 0.75em;
    margin: 0;
    position: absolute;
    top: 1.66666666666667em; /* 20px / 12px */
    right: 1.66666666666667em; /* 20px / 12px */
  }

  /* Meta */
  .follow > a:first-child p {
    color: rgb(153, 153, 153); /* $aluminum */
  }


/* =Buttons
  ----------------------------------------------- */

  /* Give all buttons a pointer cursor (consider doing this throughout the site) */
  .activity-list button {
    cursor: pointer;
  }

  /* Do It */
  .todo_actions .todo_status .icon.primary_box {
    position: static;
  }
  .activity-list .todo_actions {
    float: right;
    margin-left: 1.5em;
    padding-top: 0;
    border-width: 0;
    margin-top: 0;
  }

  /* Follow */
  .activity-list .follow button {
    font-weight: bold;
    text-align: center;
    background-color: rgb(135, 233, 184);
    color: white;
    transition: all 0.2s;
    border-width: 0;
    font-size: 12px;
    line-height: 36px;
    width: 80px;
  }
  .activity-list .follow button:hover,
  .activity-list .follow button:active,
  .activity-list .follow button:focus {
    background-color: rgb(84, 218, 151);
  }


/* =More Link
  ----------------------------------------------- */
  .activity-list .more {
    margin-left: 0.625em; /* 10px / $font-size */
    margin-top: 1.5em;
  }
  .activity-list .more a {
    color: rgb(153, 153, 153); /* $aluminum */
    font-weight: bold;
    font-size: 0.875em; /* 14px / $font-size */
  }
  .activity-list .more a:hover,
  .activity-list .more a:active,
  .activity-list .more a:focus {
    color: rgb(113, 179, 247); /* $link-color */
  }




/* =Units
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */


/* =Post
  ----------------------------------------------- */


/* =Comment
  ----------------------------------------------- */
  .activity-list .comment {
    max-width: 36.25em; /* 580px / $font-size */
    box-sizing: border-box;
    padding-right: 2em;
    padding-left: 3em;
  }
  .activity-list .comment,
  .activity-list .comment + .more {
    margin-top: 1.25em; /* $line-height */
    border-top: 1px solid rgb(221, 223, 227); /* $silver-blue */
    padding-top: 1.25em; /* $line-height */
  }
  .activity-list .comment + .comment {
    margin-top: 0;
    padding-left: 5em; /* @line-height x 4 */
  }


/* =Follow (topic or person)
  ----------------------------------------------- */
  .activity-list .follow {
    max-width: 36.25em; /* 580px / $font-size */
    box-sizing: border-box;
    padding-right: 2em;
    padding-left: 3em;
  }
  .activity-list .follow,
  .activity-list .follow + .more {
    margin-top: 1.25em; /* $line-height */
    border-top: 1px solid rgb(221, 223, 227); /* $silver-blue */
    padding-top: 1.25em; /* $line-height */
  }


/* =Source
  ----------------------------------------------- */
  .activity-list .source {
    margin-top: 0;
  }


/* =Meta (votes, dos, and comments)
  ----------------------------------------------- */
  .activity-list .meta {
    margin-top: 1em;
    border-top: 1px solid rgb(243, 243, 243); /* $bright-silver */
    padding-top: 1em;
  }
  .activity-list .meta:after {
    /* $clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .activity-list .meta p {
    margin-top: 0;
    display: inline-block;
    margin-right: 0.75em;
  }
  .activity-list .meta p a {
    color: rgb(153, 153, 153); /* $aluminum */
    transition: opacity 0.2s, color 0.2s;
    font-size: 0.75em;
  }
  .activity-list .meta p a:hover,
  .activity-list .meta p a:active,
  .activity-list .meta p a:focus {
    color: rgb(113, 179, 247);
  }
  .activity-list .meta p a:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.375em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.6;
  }
  .activity-list .meta .dos a:before {
    background-image: url(images/do.svg);
    width: 13px;
    height: 13px;
  }
  .activity-list .meta .votes a:before {
    background-image: url(images/vote.svg);
    width: 12px;
    height: 8px;
  }
  .activity-list .meta .comments a:before {
    background-image: url(images/comment.svg);
    width: 15px;
    height: 15px;
  }


/* =Tags
  ----------------------------------------------- */
  .activity-list .tags {
    margin: 0;
    display: inline;
    float: right;
  }
  .activity-list .tags h3 {
    background: transparent url(images/tag.svg) center no-repeat;
    width: 15px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;

    /* $hidden-accessible */
    text-indent: -9999px;
    overflow: hidden;
  }
  .activity-list .tags ul {
    font-size: 0.75em; /* 12px / $font-size */
    display: inline;
  }
  .activity-list .tags ul,
  .activity-list .tags li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .activity-list .tags ul {
    margin-left: 0.75em;
  }
  .activity-list .tags li {
    display: inline;
  }
  .activity-list .tags li + li {
    margin-left: 1em;
  }
  .activity-list .tags li a {
    color: rgb(153, 153, 153); /* $aluminum */
  }
  .activity-list .tags li a:hover,
  .activity-list .tags li a:active,
  .activity-list .tags li a:focus {
    color: rgb(113, 179, 247);
  }


/* =Hover
  ----------------------------------------------- */

  /* Show a triangle in the corner of the article, when hovering over it */
  .activity-list li:after {
    content: "";
    background: transparent url(images/corner.svg) top right no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .activity-list li:hover:after {
    opacity: 1;
  }


/* =Activity List
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  ul.activity-list,
  ul.activity-list > li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  section.activity-list,
  ul.activity-list > li {
    border-top: 1px solid rgb(221, 223, 227); /* $silver-blue */
    position: relative;
    padding: 1.25em; /* @line-height */
  }
  .disabled section.activity-list,
  .disabled ul.activity-list > li {
    padding-top    : 5em;
    padding-bottom : 2.5em;   /* 40px / $font-size */
  }
  @media (min-width: 40em) { /* $larger-screen */
    .disabled section.activity-list,
    .disabled ul.activity-list > li {
      padding-top  : 3.375em; /* 56px / $font-size */
      padding-left : 5.25em;  /* 84px / $font-size */
    }
  }


