



/* =Elements
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */

  /* Use "Helvetica Neue" as the default font (consider doing this throughout the site) */
  .activity-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* $helvetica */
  }

  /* Set a base font size and line height for the activity list */
  .activity-item {
    font-size: 1em;       /* $font-size (16px) */
    line-height: 1.25em;  /* $line-height (20px) */
    color: black;
  }

  .activity-item section,
  .activity-item article {
    margin-top: 1.25em; /* $line-height */
  }
  .activity-item p {
    margin-top: 0.625em; /* $line-height / 2 */
    margin-bottom: 0.625em; /* $line-height / 2 */
  }

  /* Links */
  .activity-item a {
    color: rgb(102, 102, 102); /* $steel */
    color: rgb(102, 153, 204);
    text-decoration: none;
    transition: all 0.2s;
  }
  .activity-item a:hover,
  .activity-item a:active,
  .activity-item a:focus {
    color: rgb(113, 179, 247); /* $link-color */
  }
  .activity-item a.follow-button {
    color: white; /* Restore the base style */
  }

  /* Headlines */
  .activity-item h3 {
    margin: 0;
    font-size: 1.5em; /* 24px / $font-size */
    line-height: 1.25em; /* 30px / 24px */
    font-family: "FreightText Light", "FreightTextLight", "Helvetica Neue", Helvetica, Arial, sans-serif; /* $freight */
    font-weight: normal;
  }
  .activity-item .comment h3,
  .activity-item .follow  h3 {
    font-family: inherit;
    font-size: inherit;
  }
  .activity-item .follow h3 {
    font-weight: bold;
  }

  /* Timestamp */
  .source + .time {
    color: rgb(204, 204, 204);
    font-size: 0.75em; /* 12px / $font-size */
    margin: 0;
    position: absolute;
    top: 1.66666666666667em; /* 20px / 12px */
    right: 1.66666666666667em; /* 20px / 12px */
  }

  /* Meta */
  .follow > a:first-child p {
    color: rgb(153, 153, 153); /* $aluminum */
  }


/* =Buttons
  ----------------------------------------------- */

  /* Give all buttons a pointer cursor (consider doing this throughout the site) */
  .activity-item button {
    cursor: pointer;
  }

  /* Do It */
  .todo_actions .todo_status .icon.primary_box {
    position: static;
  }
  .activity-item .todo_actions {
    margin-top: 1.25em; /* $line-height */
    padding-top: 0;
    border-width: 0;
  }

  /* Follow */
  .follow-button {
    margin-top: 1.25em; /* $line-height */
  }


/* =More Link
  ----------------------------------------------- */
  .activity-item .more {
    padding-left: 0.625em; /* 10px / $font-size */
    margin-top: 1.5em;
  }
  .activity-item .more a {
    color: rgb(153, 153, 153); /* $aluminum */
    font-weight: bold;
    font-size: 0.875em; /* 14px / $font-size */
  }
  .activity-item .more a:hover,
  .activity-item .more a:active,
  .activity-item .more a:focus {
    color: rgb(113, 179, 247); /* $link-color */
  }




/* =Units
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */


/* =Post
  ----------------------------------------------- */
  .activity-item .post h3 img {
    float: left;
    margin-right: 0.5em; /* $image-margin */
  }
  .activity-item .post h3 small {
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* $helvetica */
  }
  .activity-item .post h3 small a {
    font-weight: bold;
  }


/* =Link
  ----------------------------------------------- */
  .activity-item .link h3 img {
    float: right;
    margin-right: 0;
    margin-left: 0.5em; /* $image-margin */
  }
  .activity-item .link,
  .activity-item .follow {
    padding       : 1.25em;  /* 20px / $font-size */
    border: 0.0625em solid rgb(243, 243, 243); /* $bright-silver */
    background: rgb(249, 249, 249);
    border-radius: 0.25em;
    transition: background-color 0.2s, border-color 0.2s;
  }

  /* Light up the content of the link, when hovering over it */
  .activity-item .link:hover,
  .activity-item .follow:hover {
    /*background: white;*/
    /*border-color: rgb(153, 153, 153);*/ /* $aluminum */
  }


/* =Follow (topic or person)
  ----------------------------------------------- */
  .activity-item .follow h3 img {
    float: left;
    margin-right: 0.5em; /* $image-margin */
  }
  .activity-item .follow .meta {
    color: rgb(153, 153, 153); /* $aluminum */
  }
  .activity-item .follow,
  .activity-item .follow + .more {
    margin-top: 1.25em; /* $line-height */
  }


/* =Comment
  ----------------------------------------------- */
  .activity-item .comment {
    padding-left: 2.5em; /* @line-height x 2 */
  }
  .activity-item .comment,
  .activity-item .comment + .more {
    margin-top: 1.25em; /* $line-height */
    border-top: 1px solid rgb(221, 223, 227); /* $silver-blue */
    padding-top: 1.25em; /* $line-height */
  }
  .activity-item .comment + .comment {
    padding-left: 5em; /* @line-height x 4 */
  }

  .activity-item .comment h3 {
    font-size: 0.75em; /* 12px / $font-size */
    color: rgb(153, 153, 153); /* $aluminum */
  }
  .activity-item .comment h3 a {
    font-weight: bold;
    margin-right: 0.375em;
  }
  .activity-item .comment h3 img {
    vertical-align: middle;
    margin-right: 0.5em; /* $image-margin */

    margin-left: -3.33333333333333em; /* (@line-height x 2) / 12px */
  }
  .activity-item .comment p {
    color: black;
    font-size: 0.875em; /* 14px / $font-size */
    max-width: 33em;
  }
  .activity-item .comment p a {
    color: rgb(102, 153, 204);
  }
  .activity-item .comment p a:hover,
  .activity-item .comment p a:active,
  .activity-item .comment p a:focus {
    color: rgb(113, 179, 247); /* $link-color */
  }


/* =Source
  ----------------------------------------------- */
  /*
  .activity-item li {
    position: relative;
  }
  .activity-item li .source {
    position: absolute;
    top: 0;
    left: 0;
  }
  */
  .activity-item .source {
    margin-top: 0;
    font-size: 0.75em; /* 12px / $font-size */
    color: rgb(153, 153, 153); /* $aluminum */
  }
  .activity-item .source img {
    vertical-align: middle;
    margin-right: 0.75em;
  }
  .activity-item .source a {
    font-weight: bold;
  }


/* =Meta (votes, dos, and comments)
  ----------------------------------------------- */
  .activity-item .meta {
    margin-top: 1em;
    border-top: 1px solid rgb(243, 243, 243); /* $bright-silver */
    padding-top: 1em;
  }
  .activity-item .meta:after {
    /* $clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .activity-item .meta p {
    margin-top: 0;
    display: inline-block;
    margin-right: 0.75em;
  }
  .activity-item .meta p a {
    color: rgb(153, 153, 153); /* $aluminum */
    transition: opacity 0.2s, color 0.2s;
    font-size: 0.75em; /* 12px / $font-size */
  }
  .activity-item .meta p a:hover,
  .activity-item .meta p a:active,
  .activity-item .meta p a:focus {
    color: rgb(113, 179, 247);
  }
  .activity-item .meta p a:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.375em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.6;
  }
  .activity-item .meta .dos a:before {
    background-image: url(images/do.svg);
    width: 13px;
    height: 13px;
  }
  .activity-item .meta .votes a:before {
    background-image: url(images/vote.svg);
    width: 12px;
    height: 8px;
  }
  .activity-item .meta .comments a:before {
    background-image: url(images/comment.svg);
    width: 15px;
    height: 15px;
  }


/* =Tags
  ----------------------------------------------- */
  .activity-item .tags {
    margin: 0;
    display: inline;
    float: right;
  }
  .activity-item .tags h4 {
    background: transparent url(images/tag.svg) center no-repeat;
    width: 15px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;

    /* $hidden-accessible */
    text-indent: -9999px;
    overflow: hidden;
  }
  .activity-item .tags ul {
    font-size: 0.75em; /* 12px / $font-size */
    display: inline;
  }
  .activity-item .tags ul,
  .activity-item .tags li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .activity-item .tags ul {
    margin-left: 0.75em;
  }
  .activity-item .tags li {
    display: inline;
  }
  .activity-item .tags li + li {
    margin-left: 1em;
  }
  .activity-item .tags li a {
    color: rgb(153, 153, 153); /* $aluminum */
  }
  .activity-item .tags li a:hover,
  .activity-item .tags li a:active,
  .activity-item .tags li a:focus {
    color: rgb(113, 179, 247);
  }


/* =Activity Item
  ----------------------------------------------- */
  .activity-item {
    border-top: 1px solid rgb(221, 223, 227); /* $silver-blue */
    position: relative;
    padding: 1.25em; /* @line-height */
  }

  /* Show a triangle in the corner of the item, when hovering over it */
  .activity-item:after {
    content: "";
    background: transparent url(images/corner.svg) top right no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .activity-item:hover:after {
    opacity: 1;
  }


/* =Activity List
  ----------------------------------------------- */
  ul.activity-list,
  ul.activity-list > li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }



