



/* =Global
  -----------------------------------------------
  These are adjustments to the base styles
  ----------------------------------------------- */

  /* Use "Helvetica Neue" as the default font (consider doing this throughout the site) */
  .post-summary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  /* Give all buttons a pointer cursor (consider doing this throughout the site) */
  .post-summary button {
    cursor: pointer;
  }

  /* Clear the “.main” container without an overflow (so that hover content will appear properly) */
  .main {
    overflow: visible;
  }
  .main:after {
    content: "";
    display: table;
    clear: both;
  }



/* =Buttons
  ----------------------------------------------- */

  /* Do It */
  .post-summary .todo_actions {
    float: right;
    margin-left: 1em;
    padding-top: 0;
    border-width: 0;
    margin-top: 0;
  }
  .todo_actions .todo_status .icon.primary_box {
    position: static;
  }

  /* Follow */
  .post-summary .source .details form {
    margin-top: 0;
    position: absolute;
    top   : 0.625em; /* source-details.padding */
    right : 0.625em;
  }
  .post-summary .source .details form p {
    margin-top: 0;
  }
  .post-summary .source .details button {
    font-weight: bold;
    text-align: center;
    background-color: rgb(135, 233, 184);
    color: white;
    transition: all 0.2s;
    border-width: 0;
    font-size: 12px;
    line-height: 36px;
    width: 80px;
  }
  .post-summary .source .details button:hover,
  .post-summary .source .details button:active,
  .post-summary .source .details button:focus {
    background-color: rgb(115, 213, 164);
  }
  .post-summary.following .person button {
    font-weight: bold;
    text-align: center;
    background-color: rgb(135, 233, 184);
    color: white;
    transition: all 0.2s;
    border-width: 0;
    font-size: 12px;
    line-height: 36px;
    width: 80px;
  }
  .post-summary.following .person button:hover,
  .post-summary.following .person button:active,
  .post-summary.following .person button:focus {
    background-color: rgb(84, 218, 151);
  }




/* =Links
  ----------------------------------------------- */
  /* More */
  .post-summary > .more {
    margin-left: 0.625em; /* 10px / 16px */
    margin-top: 1.5em;
  }
  .post-summary > .more a {
    color: rgb(153, 153, 153);
    font-weight: bold;
    font-size: 0.875em; /* 14px / @font-size */
  }
  .post-summary > .more a:hover,
  .post-summary > .more a:active,
  .post-summary > .more a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }



/* =Post Summary
  -----------------------------------------------
  These are items for the feed
  ----------------------------------------------- */
  .post-summary {
    border-top: 1px solid rgb(221, 223, 227); /* @silver-blue */
    color: rgb(153, 153, 153); /* @aluminum */
    position: relative;
    padding-top    : 3.375em; /* 56px / @font-size */
    padding-bottom : 2.5em;   /* 40px / @font-size */
    padding-left   : 5.25em;  /* 84px / @font-size */
  }
  .post-summary a {
    color: rgb(102, 102, 102); /* @steel */
    text-decoration: none;
    transition: all 0.2s;
  }
  .post-summary a:hover,
  .post-summary a:active,
  .post-summary a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }
  .post-summary .body {
    max-width: 36.25em; /* 580px / @font-size */
    box-sizing: border-box;
  }
  .post-summary.link .body {
    padding       : 1.25em;  /* 20px / @font-size */
    padding-right : 0.625em; /* 10px / @font-size */
    border: 0.0625em solid rgb(243, 243, 243); /* @bright-silver */
    background: rgb(249, 249, 249);
    border-radius: 0.25em;
    transition: background-color 0.2s, border-color 0.2s;
  }
  .post-summary .body:after {
    /* @clearfix */
    content: "";
    display: table;
    clear: both;
  }
  .post-summary .body > a {
    color: black;
  }
  .post-summary .body a h2 {
    transition: color 0.2s;
    line-height: 1.25em; /* 30px / 24px */

    margin-right: 0.25em; /* Add a little space between the h2 and h3 */
  }
  .post-summary .body a:hover   h2,
  .post-summary .body a:active  h2,
  .post-summary .body a:focus   h2 {
    color: rgb(113, 179, 247); /* @link-color */
  }
  .post-summary.article .body > a > img,
  .post-summary.comment .body > a > img {
    height: 6.25em; /* 100px / @font-size */
    width: auto;
    float: left;
    border: 1px solid rgb(221, 223, 227); /* @silver-blue */
  }
  .post-summary.article .body > a.has-image h2,
  .post-summary.comment .body > a.has-image h2 {
    display: block;
    margin-left: 5em; /* image.width + 1.25em / font-size (24px) */
  }
  .post-summary.article .body > a.has-image ~ h3,
  .post-summary.comment .body > a.has-image ~ h3 {
    margin-top: 0.5em;
    display: block;
    margin-left: 10em; /* image.width + 1.25em / font-size (12px) */
  }
  .post-summary.article .body > a.has-image ~ .social,
  .post-summary.comment .body > a.has-image ~ .social {
    margin-left: 7.5em; /* image.width + 1.25em */
  }
  .post-summary.link .body > a > img {
    float: right;
    height: 3.625em; /* 58px / @font-size */
    width: auto;
    background: rgb(243, 243, 243); /* @bright-silver */
    padding: 0.0625em;
    margin-left: 1.25em; /* 20px / @font-size */
    margin-top: -0.625em;
  }
  .post-summary .body > a > h2,
  .post-summary .body > h3 {
    display: inline;
  }
  .post-summary .body > h3 {
    font-size: 0.75em; /* 12px / @font-size */
    color: rgb(153, 153, 153); /* @aluminum */
    white-space: nowrap;
  }
  .post-summary .body > h3 a {
    font-weight: bold;
  }
  .post-summary .body > h3 a:hover,
  .post-summary .body > h3 a:active,
  .post-summary .body > h3 a:focus {
    color: rgb(113, 179, 247);
  }
  .post-summary h2 {
    margin: 0;
    font-size: 1.5em; /* 24px / @font-size */
    font-family: "FreightText Light", "FreightTextLight", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @freight */
  }
  .post-summary .time {
    position: absolute;
    top: 1.33333333333333em; /* 16px / 12px */
    right: 1.66666666666667em; /* 20px / 12px */
    color: rgb(204, 204, 204);
    font-size: 0.75em;
  }




/* =Source Summary (Hover Target)
  ----------------------------------------------- */
  .post-summary .source .summary {
    margin-top: 0;
    font-size: 0.75em; /* 12px / @font-size */
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
  }
  .post-summary .source .summary a {
    position: relative;
    display: inline-block;
    padding: 1.33333333333333em; /* 16px / link.font-size */
    transition: all 0.2s;
    color: rgb(153, 153, 153); /* @aluminum */
  }
  .post-summary .source .summary a:first-child {
    margin-left: -1.33333333333333em; /* link.padding */
  }
  .post-summary .source .summary a + a {
    margin-left: -2.66666666666666em; /* link.padding x 2 */
  }
  .post-summary .source .summary a span {
    font-weight: bold;
    transition: color 0.2s;
    color: rgb(102, 102, 102);
    margin-right: 0.375em;
  }
  .post-summary .source .summary a:hover  span,
  .post-summary .source .summary a:active span,
  .post-summary .source .summary a:focus  span {
    color: rgb(113, 179, 247); /* @link-color */
  }
  .post-summary .source .summary.has-image a:first-child {
    padding-left: 7em; /* 84px / link.font-size */
    border-left-width: 0;
    margin-left: 0;
  }
  .post-summary .source .summary img {
    width: 5em; /* 60px / link.font-size */
    height: auto;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: rgb(221, 223, 227); /* @silver-blue */
    vertical-align: top;
    margin-right: 0.25em;
    position: absolute;
    top: 0;
    left: 0;
  }




/* =Source Details (Hover Box)
  ----------------------------------------------- */
  .post-summary .source .details {
    margin-top: 0;
    top: 2.1em;
    position: absolute;
    z-index: 1;
    width: 350px;
    box-sizing: border-box;
    left: -9999px;
    opacity: 0;
    transition: opacity 0.2s;
    padding-top: 0.4em;
  }

  /* Attempt to line the hover box up with the image (which is a little smaller in the takeover area). */
  .takeover .post-summary .source .details {
    margin-left: -40px;
  }

  .post-summary .source:hover  .details,
  .post-summary .source:active .details,
  .post-summary .source:focus  .details {
    left: auto;
    opacity: 1;
  }

  /* If the page is scripted, delay the hover effect */
  .post-summary .source.scripted:hover  .details,
  .post-summary .source.scripted:active .details,
  .post-summary .source.scripted:focus  .details {
    left: -9999px;
    opacity: 0;
  }
  .post-summary .source.active:hover  .details,
  .post-summary .source.active:active .details,
  .post-summary .source.active:focus  .details {
    left: auto;
    opacity: 1;
  }

  .post-summary .source .details > .container {
    line-height: 1.5;
  }
  .post-summary .source .details > .container .container {
    background: white;
    padding: 0.625em; /* 10px / 16px */
    padding-left: 5em;
    position: relative;
    border: 1px solid black;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.125);
  }
  .post-summary .source .details .container .container:after {
    display: block;
    content: "";
    background: url(images/pointer.png);
    position: absolute;
    top: -11px;
    left: 30px;
    margin-left: -10px;
    width: 20px;
    height: 13px;
  }
  .post-summary .source .details img {
    width: 3.75em; /* 60px / @font-size  */
    left: 0.625em; /* 10px / 16px */
    height: auto;
    position: absolute;
  }
  .post-summary .source .details h3 {
    font-size: inherit;
    font-weight: bold;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    transition: color 0.2s;
  }
  .post-summary .source .details a:hover h3,
  .post-summary .source .details a:hover h3,
  .post-summary .source .details a:hover h3 {
    color: rgb(113, 179, 247); /* @link-color */
  }
  .post-summary .source .details a p {
    margin-top: 0;
    font-size: 0.75em; /* 12px / @font-size */
    color: rgb(153, 153, 153); /* @aluminum */
    margin-bottom: 0;
  }
  .post-summary .source .details .container > p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    border-top: 1px solid rgb(221, 223, 227); /* @silver-blue */
    padding-top: 0.75em;
    color: rgb(102, 102, 102); /* @steel */
    font-size: 0.8125em; /* 13px / @font-size */
  }




/* =Comment
  ----------------------------------------------- */
  .post-summary .comment {
    margin-top: 1.5em;
    max-width: 36.25em; /* 580px / @font-size */
    box-sizing: border-box;
    padding-right: 2em;
    padding-left: 3em;
    border-bottom: 1px solid rgb(221, 223, 227); /* @silver-blue */
    padding-bottom: 1.5em;
    padding-top: 1em;
  }
  .post-summary .body + .comment {
    border-top: 1px solid rgb(221, 223, 227); /* @silver-blue */
  }
  .post-summary .comment + .comment {
    margin-top: 0;
    padding-left: 6em;
  }
  .post-summary .comment .author {
    font-size: 0.75em; /* 12px / @font-size */
    color: rgb(153, 153, 153); /* @aluminum */
  }
  .post-summary .comment .author a {
    font-weight: bold;
    margin-right: 0.375em;
  }
  .post-summary .comment .author img {
    border: 1px solid rgb(221, 223, 227); /* @silver-blue */
    width: 2.5em; /* 30px / 12px */
    height: auto;
    vertical-align: middle;
    margin-right: 1.25em;
    margin-left: -4em;
  }
  .post-summary .comment p {
    color: black;
    font-size: 0.875em; /* 14px / @font-size */
    line-height: 20px;
  }
  .post-summary .comment p + p {
    margin-top: 10px;
  }
  .post-summary .comment p a {
    color: rgb(102, 153, 204);
  }
  .post-summary .comment p a:hover,
  .post-summary .comment p a:active,
  .post-summary .comment p a:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }




/* =Social
  ----------------------------------------------- */
  .social {
    margin-top: 1em;
    border-top: 1px solid rgb(243, 243, 243); /* @bright-silver */
    padding-top: 1em;
  }
  .social > p,
  .social > div,
  .social > form {
    display: inline-block;
  }
  .social > p,
  .social > div {
    margin-right: 0.75em;
  }
  .social h3 {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    display: inline;
  }
  .social h3 a {
    color: rgb(153, 153, 153); /* @aluminum */
    transition: opacity 0.2s, color 0.2s;
    font-size: 0.75em;
  }
  .social h3 a:hover,
  .social h3 a:active,
  .social h3 a:focus {
    color: rgb(113, 179, 247) !important;
  }
  .social h3 a:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.375em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.6;
  }
  .social .dos h3 a:before {
    background-image: url(images/dos.png);
    width: 13px;
    height: 13px;
  }
  .social .votes h3 a:before {
    background-image: url(images/votes.png);
    width: 12px;
    height: 8px;
  }
  .social .comments h3 a:before {
    background-image: url(images/comments.png);
    width: 15px;
    height: 15px;
  }


  /* Light up the social icons for the article, when hovering over it */

  /* Off */
  .feed:hover .social h3 a {
    color: rgb(190, 190, 190);
  }
  .feed:hover .dos h3 a:before {
    background-image: url(images/dos-off.png);
  }
  .feed:hover .votes h3 a:before {
    background-image: url(images/votes-off.png);
  }
  .feed:hover .comments h3 a:before {
    background-image: url(images/comments-off.png);
  }

  /* Over */
  .feed li:hover .social h3 a {
    color: rgb(153, 153, 153); /* @aluminum */
  }
  .feed li:hover .dos h3 a:before {
    background-image: url(images/dos.png);
  }
  .feed li:hover .votes h3 a:before {
    background-image: url(images/votes.png);
  }
  .feed li:hover .comments h3 a:before {
    background-image: url(images/comments.png);
  }




/* =Social Details (Hover Box)
  ----------------------------------------------- */
  .social .numbers {
    position: relative;
  }
  .social .numbers > div {
    position: absolute;
    z-index: 9999;
    left: -9999px;
    opacity: 0;
    margin-left: -95px; /* (details.width / 2) - (icon.width / 2) */
    padding-top: 14px;
  }
  .social .numbers:hover  > div,
  .social .numbers:active > div,
  .social .numbers:focus  > div {
    left: auto;
    opacity: 1;
  }

  /* If the page is scripted, delay the hover effect */
  .social .numbers.scripted:hover  > div,
  .social .numbers.scripted:active > div,
  .social .numbers.scripted:focus  > div {
    left: -9999px;
    opacity: 0;
  }
  .social .numbers.active:hover  > div,
  .social .numbers.active:active > div,
  .social .numbers.active:focus  > div {
    left: auto;
    opacity: 1;
  }
  .social .details {
    position: relative;
    background: white;
    white-space: nowrap;
    border: 1px solid black;
    width: 200px;
    transition: opacity 0.2s;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.125);
  }
  .social .details > span {
    background: url(images/pointer.png);
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 13px;
  }
  .social .details h4 {
    font-size: 12px;
    line-height: 30px;
    padding: 0 1em;
    margin-bottom: 0;
    font-weight: bold;
    color: rgb(0,0,0) !important;
  }
  .social .details ul {
    margin-top: 0;
    border-top: 1px solid rgb(243, 243, 243); /* @bright-silver */
  }
  .social .details ul,
  .social .details li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .social .details li {
    line-height: 30px;
  }
  .social .details li a {
    font-size: 13px;
    display: block;
    padding-right: 1em;
    color: rgb(102, 102, 102); /* @steel */
  }
  .social .details li a[href]:hover,
  .social .details li a[href]:active,
  .social .details li a[href]:focus {
    background: rgb(249, 249, 249);
    color: black;
  }
  .social .details li img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
  }
  .social .details li.more a {
    padding-left: 38px;
    position: relative;
  }
  .social .details li.more a span {
    position: absolute;
    left: 12px;
  }




/* =Tags
  ----------------------------------------------- */
  .post-summary .tags {
    margin-top: -1.125em;
    float: right;
    margin-right: 0.625em;
  }
  .post-summary .tags h3 {
    background: transparent url(images/tag.png) center no-repeat;
    width: 15px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;

    /* @hidden-accessible */
    text-indent: -9999px;
    overflow: hidden;
  }
  .post-summary .tags ul {
    font-size: 0.75em; /* 12px / @font-size */
    display: inline;
  }
  .post-summary .tags ul,
  .post-summary .tags li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .post-summary .tags ul {
    margin-left: 0.75em;
  }
  .post-summary .tags li {
    display: inline;
  }
  .post-summary .tags li + li {
    margin-left: 1em;
  }
  .post-summary .tags li a {
    color: rgb(153, 153, 153); /* @aluminum */
  }
  .post-summary .tags li a:hover,
  .post-summary .tags li a:active,
  .post-summary .tags li a:focus {
    color: rgb(113, 179, 247);
  }

  /* Only show the tags for one article at a time, in a feed */
  .feed:hover .tags {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .feed .post-summary:hover .tags {
    opacity: 1;
  }

  /* Show a triangle in the corner of the article, when hovering over it */
  .post-summary:after {
    content: "";
    background: transparent url(images/corner.png) top right no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .post-summary:hover:after {
    opacity: 1;
  }

  /* Light up the content of the article, when hovering over it */
  .post-summary.link:hover .body {
    background: white;
    border-color: rgb(153, 153, 153); /* @aluminum */
  }




/* =Following
  ----------------------------------------------- */
  .post-summary.following .person {
    padding: 1.25em; /* 20px / 16px */
    padding-right: 0.625em; /* 10px / @font-size */
    border-radius: 0.25em;
    position: relative;
    border: 1px solid rgb(243, 243, 243); /* @bright-silver */
    background: rgb(249, 249, 249);
    min-height: 5.125em; /* image.height + padding + (border-width x 2) */

    max-width: 36.25em; /* 580px / @font-size */
    box-sizing: border-box;

    transition: background-color 0.2s, border-color 0.2s;
  }
  .post-summary.following .person.has-image {
    padding-left: 5em; /* image.width + (padding x 2) */
  }
  .post-summary.following .person + .person {
    margin-top: 0.75em;
  }
  .post-summary.following .person:hover {
    background: white;
    border-color: rgb(153, 153, 153); /* @aluminum */
  }
  .post-summary.following .person img {
    border: 1px solid rgb(221, 223, 227); /* @silver-blue */
    width: 3.75em; /* 60px / @font-size  */
    top: 0.625em;
    left: 0.625em;
    height: auto;
    position: absolute;
  }
  .post-summary.following .person a {
    display: block;
  }
  .post-summary.following .person h2 {
    margin-top: 0;
    margin-bottom: -0.25em;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    color: black;
    transition: 0.2s;
  }
  .post-summary.following .person a:hover  h2,
  .post-summary.following .person a:active h2,
  .post-summary.following .person a:focus  h2 {
    color: rgb(113, 179, 247); /* @link-color */
  }
  .post-summary.following .person a p {
    margin-top: 0.75em;
    font-size: 0.75em; /* 12px / @font-size */
    color: rgb(153, 153, 153); /* @aluminum */
    margin-bottom: 0;
    display: inline-block;
    line-height: 1;
  }
  .post-summary.following .person a p + p {
    border-left: 1px solid rgb(216, 216, 216);
    padding-left: 0.9em;
    margin-left: 0.6em;
  }
  .post-summary.following .person > p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border-top: 1px solid rgb(221, 223, 227); /* @silver-blue */
    padding-top: 0.75em;
    font-family: "FreightText Light", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @freight */
    color: black;
    font-size: 0.875em; /* 14px / @font-size */
  }
  .post-summary.following .person form {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top   : 0.75em;
    right : 0.75em;
  }
  .post-summary.following .person form p {
    margin-top: 0;
  }




/* =Hub Feature
  ----------------------------------------------- */
  html.controller-tags.action-show .takeover > section {
    overflow: visible;
  }
  html.controller-tags.action-show .takeover article section {
    margin-top: 0;
  }
  html.controller-tags.action-show .takeover > section:after {
    content: "";
    display: table;
    clear: both;
  }
  html.controller-tags.action-show .sticky-header {
    margin-bottom: 32px;
  }

  .takeover .post-summary.article .body > a > img {
    height: 240px;
    width: auto;
    margin-left: -84px;
  }
  .takeover .post-summary.article .body > a.has-image h2 {
    font-size: 36px;
    margin-left: 5.27777777777778em; /* 190px / 16px */
  }
  .takeover .post-summary.article .body > a.has-image ~ .social,
  .takeover .post-summary.comment .body > a.has-image ~ .social {
    margin-top: 3em;
    margin-left: 11.875em; /* 190px / 16px */
  }
  .takeover .post-summary .source .summary.has-image a:first-child {
    padding-left: 45px;
  }
  .takeover .post-summary .source .summary img {
    margin-top: 8px;
    width: 30px;
    height: auto;
    border-width: 1px;
  }




/* =Hub Feature (Do)
  ----------------------------------------------- */
  html.controller-tags.action-show .takeover .featured-action-beta {
    width: 300px;
    display: inline;
    float: right;
    padding-left: 20px;
    margin-right: -321px;
  }
  html.controller-tags.action-show .takeover .featured-action-beta > h3 {
    line-height: 36px;
    color: rgb(42, 43, 44);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  .featured-action-beta article {
    background: rgb(246, 255, 250);
    border: 6px solid rgb(233, 249, 240);
    padding: 14px;
  }

  .featured-action-beta article form {
    margin-top: 1.5em;
  }

  .featured-action-beta .todo_actions {
    margin-top: 1.5em;
    padding-top: 0;
    border-top-width: 0;
  }
  .featured-action-beta .todo_actions .todo_status .icon {
    margin-left: 0;
  }

  .featured-action-beta article .body > a > img {
    border: 5px solid rgb(203, 238, 218);
    width: 100px;
    height: auto;
    border-radius: 200px;
    margin: 0 auto 1.5em;
    display: block;
  }
  .featured-action-beta article h2 {
    font-size: 20px;
    font-family: "FreightText Light", "FreightTextLight", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @freight */
    line-height: 1.25em;
  }
  .featured-action-beta article a {
    color: black;
    display: block;
  }
  .featured-action-beta article a h2:hover,
  .featured-action-beta article a h2:active,
  .featured-action-beta article a h2:focus {
    color: rgb(113, 179, 247); /* @link-color */
  }

  .featured-action-beta article .social {
    margin-top: -1.5em;
    float: right;
    border-top: 0;
    padding-top: 0;
  }
  .featured-action-beta article .social > p,
  .featured-action-beta article .social > div {
    margin-left: 0.75em;
  }




/* =Feed Pages
  -----------------------------------------------
  These are adjustments to the layout near the top of the page.
  ----------------------------------------------- */

  /* Hub */
  html.controller-tags.action-show .page, 
  html.controller-tags.action-show .right-sidebar {
    padding-top: 30px;
  }
  html.controller-tags.action-show .toolbar {
    margin-bottom: 32px;
  }
  html.controller-tags.action-show .takeover .carousel {
    padding-bottom: 0;
  }
  html.controller-tags.action-show .takeover > section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 0;
  }

  /* For You */
  html.controller-posts.action-index .page, 
  html.controller-posts.action-index .right-sidebar {
    padding-top: 40px;
  }
  html.controller-posts.action-index .takeover>section {
    margin-top: 40px;
  }
  html.controller-posts.action-index .takeover h1 {
    margin: 0 auto 30px;
  }

  /* Popular */
  html.controller-posts.action-popular .page, 
  html.controller-posts.action-popular .right-sidebar {
    padding-top: 40px;
  }
  html.controller-posts.action-popular .posts .feed > li:first-child {
    margin-top: 32px;
  }

  /* Member */
  html.controller-users.action-show .page,
  html.controller-users.action-show .right-sidebar,
  html.controller-users.action-todos .page, 
  html.controller-users.action-todos .right-sidebar {
    padding-top: 30px;
  }
  html.controller-users.action-show  #user-feed > h2,
  html.controller-users.action-todos #user-feed-beta .started > h2 {
    line-height: 36px;
    color: rgb(42, 43, 44);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 30px;
  }
  html.controller-users.action-todos #user-feed-beta .started > h2 {
    background-position: 2px -2013px;
    background-image: url(http://www.good.is/assets/sprites/global-s7cca2e59e8-0d733058f8d642a83128e9be2273996d.png);
    background-repeat: no-repeat;
    padding-left: 40px;
  }
  html.controller-users.action-show #user-feed .feed > li:first-child,
  html.controller-users.action-todos #user-feed-beta .started .feed > li:first-child {
    margin-top: 35px;
  }

