
/*-----------------------------------------------
    Shared Styles (for all screen sizes)
  ----------------------------------------------- */


  /* =Elements
  -----------------------------------------------
  -----------------------------------------------
  ----------------------------------------------- */
  body {
    font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 1.5em;
    padding: 0;
    background: rgb(254, 255, 254); /* @bright-white */
    color: rgb(0, 1, 0); /* @text-color */
  }
  a {
    color: rgb(26, 110, 160); /* @link-color */
  }
