

/* =Admin Posts
  ----------------------------------------------- */

  html.controller-admin\/posts.action-index .main {
    max-width: 1060px;
  }

  .admin-posts table {
    margin: 1.5em 0 0;
    padding: 1.5em;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-spacing: 0;
    width: 100%;
  }
  .admin-posts table a {
    color: inherit;
    text-decoration: none;
  }
  .admin-posts table a:hover,
  .admin-posts table a:active,
  .admin-posts table a:focus {
    color: rgb(51, 153, 255); /* @link-color */
  }

  .admin-posts th,
  .admin-posts td {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    color: rgb(153, 153, 153);
    text-align: left;
    font-size: 12px;
    vertical-align: top;
  }
  .admin-posts th > a,
  .admin-posts th > span {
    display: block;
    padding: 10px 10px;
  }
  .admin-posts th:first-child,
  .admin-posts td:first-child {
    padding-left: 10px;
  }
  .admin-posts th:last-child,
  .admin-posts td:last-child {
    padding-right: 10px;
  }

  .admin-posts td {
    padding: 10px 0;
  }
  .admin-posts td > a,
  .admin-posts td > span {
    display: block;
    padding: 10px 10px;
  }
  .admin-posts td.short > a,
  .admin-posts th > span {
    white-space: nowrap;
  }

  /*
  .admin-posts tbody tr:nth-child(2n) {
    background: rgb(250, 250, 250);
  }
  */

  /* KLUDGE: Attempt to line the checkboxes up with the text to the right */
  .admin-posts th:first-child input[type="checkbox"],
  .admin-posts td:first-child input[type="checkbox"] {
    margin-top: 6px;
  }

  .admin-posts tbody tr:hover,
  .admin-posts tbody tr:active,
  .admin-posts tbody tr:focus {
    background: rgb(255, 252, 231);
  }

  /*
  .admin-posts tbody tr:hover  a,
  .admin-posts tbody tr:active a,
  .admin-posts tbody tr:focus  a {
    color: rgb(51, 153, 255);
  }
  .admin-posts tbody tr:hover  .short a,
  .admin-posts tbody tr:active .short a,
  .admin-posts tbody tr:focus  .short a {
    color: rgb(162, 166, 121);
  }
  */


  td.long {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
  }
  td.author a {
    color: rgb(102, 102, 102);
  }

  td.short a {
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 3em;
    text-align: center;
    padding-right: 12px;
    padding-left: 12px;
  }
  td.short a:hover,
  td.short a:active,
  td.short a:focus {
    color: rgb(218, 55, 42);
    color: rgb(102, 102, 102);
    background: white;
    border-color: rgb(213, 212, 209);
  }
  td.short a.unflag:hover,
  td.short a.unflag:active,
  td.short a.unflag:focus {
    color: rgb(51, 204, 102);
    color: rgb(102, 102, 102);
  }
  td.short a.spam:before,
  td.short a.unflag:before,
  td.short a.delete:before {
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    opacity: 0.75;
    margin-right: 5px;
  }

  /* If the device supports hover effects */
  /*
  .hoverable td.short a.spam:before,
  .hoverable td.short a.unflag:before,
  .hoverable td.short a.delete:before {
    margin-right: 0;
  }
  .hoverable td.short a span {
    position: absolute;
    left: -9999px;
  }
  */

  td.short a.spam:before {
    background-image: url(images/no-gray.png);
    width: 15px;
    height: 14px;
  }
  td.short a.spam:hover:before,
  td.short a.spam:active:before,
  td.short a.spam:focus:before {
    background-image: url(images/no.png);
  }
  td.short a.unflag:before {
    background-image: url(images/checkmark-gray.png);
    width: 15px;
    height: 11px;
  }
  td.short a.unflag:hover:before,
  td.short a.unflag:active:before,
  td.short a.unflag:focus:before {
    background-image: url(images/checkmark.png);
  }
  td.short a.delete:before {
    background-image: url(images/x-gray.png);
    width: 12px;
    height: 11px;
  }
  td.short a.delete:hover:before,
  td.short a.delete:active:before,
  td.short a.delete:focus:before {
    background-image: url(images/x.png);
  }

  a.spam   span,
  a.unflag span,
  a.edit   span,
  a.delete span {
    position: absolute;
    left: -9999px;
  }

  .admin-posts th {
    text-transform: uppercase;
    font-family: "BrandonGrotesque-Bold", Helvetica, Arial, sans-serif;
    font-size: 11px;
    border-bottom: 2px solid rgb(204, 204, 204);
  }

  .checked-items {
    margin-left: 20px;
    color: rgb(153, 153, 153);
  }
  .checked-items h3 {
    text-transform: uppercase;
    font-family: "BrandonGrotesque-Bold", Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin-right: 10px;
  }
  .checked-items h3,
  .checked-items ul,
  .checked-items li {
    display: inline;
  }
  .checked-items ul,
  .checked-items li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .checked-items button {
    margin-left: 0;
  }
  .checked-items button:before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
  .checked-items .spam button:before {
    background-image: url(images/no-gray.png);
    width: 15px;
    height: 14px;
  }
  .checked-items .unflag button:before {
    background-image: url(images/checkmark-gray.png);
    width: 15px;
    height: 11px;
  }




