

    html.controller-admin\/posts.action-index .main {
      max-width: none;
      padding: 0;
    }

    html.controller-admin\/posts.action-index .main nav.primary ul,
    #admin-manage-posts {
      margin: 0 auto;
      max-width: 1600px;
      min-width: 1080px;
      padding-left: 20px;
      padding-right: 20px;
    }

    html.controller-admin\/posts.action-index .main nav.primary {
      padding: 0;
      background: rgb(252, 252, 252);
      border-bottom-color: rgb(221, 221, 221);
      box-shadow: 0 0 0.35em rgba(0, 0, 0, 0.15);
      margin-bottom: 40px;
    }
    html.controller-admin\/posts.action-index .main nav.primary a {
      padding: 13px 30px 20px;
      border-width: 0 1px 1px;
      border-style: solid;
      border-color: transparent;
      margin-bottom: -10px;
      font-size: 14px;
    }
    html.controller-admin\/posts.action-index .main nav.primary .active a {
      background: white;
      border-color: rgb(204, 204, 204);
      border-bottom-left-radius  : 10px;
      border-bottom-right-radius : 10px;
    }

    .filters {
      margin-left: 20px;
    }



    /* =tip
    ----------------------------------------------- */

    .tip {
      text-align: center;
    }
    .tip p {
      font-size: 18px;
    }

    .tip h3 + p:before {
      font-family: admin-icons;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      font-size: 36px;
      vertical-align: middle;
      margin-right: 0.5em;
    }

    .tip#admin-flagged h3 + p:before {
      content: "\e001"; /* @icon-flag */
      color: rgb(255, 51, 51);
    }

    #admin-manage-posts div.tip .hide {
      top: 10px;
      right: 10px;
      line-height: 1;
    }
    #admin-manage-posts div.tip .hide:after {
      color: rgb(162, 166, 121);
      font-size: 12px;
    }
    #admin-manage-posts div.tip .hide span {
      /* @hidden-accessible */
      position: absolute;
      left: -9999px;
    }
    #admin-manage-posts div.tip a {
      margin-left: 1.5em;
      font-size: 12px;
      color: rgb(51, 153, 255); /* @link-color */
    }
    #admin-manage-posts div.tip a:hover,
    #admin-manage-posts div.tip a:active,
    #admin-manage-posts div.tip a:focus {
      text-decoration: underline;
    }


    /* =Toggle
    ----------------------------------------------- */
    /* KLUDGE: Attempt to make the checkboxes a consistent size */
    #admin-manage-posts form.posts input[type="checkbox"] {
      font-size: 12px;
    }
    #admin-manage-posts form.posts .toggle {
      padding: 10px;
    }
    #admin-manage-posts form.posts .toggle span {
      /* @hidden-accessible */
      position: absolute;
      left: -9999px;
    }
    #admin-manage-posts form.posts .batch-options .toggle {
      margin-right: 5px;
    }


    /* =
    ----------------------------------------------- */
    #admin-manage-posts table.posts td.action a:hover>span,
    #admin-manage-posts table.posts td.action a:active>span,
    #admin-manage-posts table.posts td.action a:focus>span {
      left: -50px; /* -1 x hover.width (140px) - button.width (41px) / 2 */
    }

    #admin-manage-posts table.posts td.action a>span {
      width: 140px; /* This number is arbitrary. It happens to be wider than the widest label. */
      top: -5px; /* Make space for the pointer */
    }

    #admin-manage-posts table.posts td.action a > span span {
      border: 1px solid rgb(234, 234, 234);
    }

    #admin-manage-posts table.posts td.action a > span span:before {
      content: "";
      position: absolute;
      bottom: -5px; 
      left: 50%;
      margin-left: -10px; /* pointer-width / 2 */
      display: block;
      background: url(images/pointer.svg) top no-repeat;
      background-size: contain;
      width: 20px;
      height: 7px;
    }

    #admin-manage-posts table.posts {
      border-bottom: 2px solid rgb(204, 204, 204);
    }

    #admin-manage-posts table.posts th.descending span {
      color: black;
    }
    #admin-manage-posts table.posts th.descending span:after {
      content: "";
      display: inline-block;
      background: url(images/descending.svg) right no-repeat;
      background-size: contain;
      width: 1em;
      height: 1em;
      margin-left: 0.5em;
    }

    .batch-options {
      margin: 15px 10px;
    }
    .batch-options li {
      display: inline;
    }

    html.controller-admin\/posts.action-index .spam_button {
      margin: 0;
      padding: 11px 12px 9px;
      color: rgb(102, 102, 102);
      font-weight: bold;
    }

    html.controller-admin\/posts.action-index .spam_button:before {
      margin-right: 1em;
      color: rgb(204, 204, 204);
    }

    #admin-manage-posts #pager {
      margin-top: -55px;
    }

    #admin-manage-posts #pager form {
      color: rgb(102, 102, 102);
    }
    #admin-manage-posts #pager form input {
      background: rgb(250, 250, 250);
      border: 1px solid rgb(218, 220, 224);
      color: rgb(102, 102, 102);
      padding: 5px 5px 3px;
      margin-right: 0.25em;
    }
    #admin-manage-posts #pager form strong {
      color: black;
      margin-left: 0.25em;
    }

    #admin-manage-posts #pager .previous-next span a {
      padding: 11px 12px 9px;
    }

    #admin-manage-posts #pager .previous-next {
      margin-left: 1.5em;
      margin-right: 0;
    }


    /* =Details
    ----------------------------------------------- */
    td > .source {
      position: relative;
    }
    td > .source > h2 > a {
      display: block;
      padding: 10px;
    }
    td > .source .details {

      /* Reset */
      font-size: 16px;
      color: black;
      font-weight: normal;

      margin-top: 0;
      top: 2.1em;
      position: absolute;
      z-index: 1;
      background: transparent;
      box-sizing: border-box;
      box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
      transition: opacity 0.2s;
      padding-top: 0.4em;
      left: -9999px;
      opacity: 0;
    }
    td.author > .source .details {
      top: 1.8em;
    }
    td > .source:hover  .details,
    td > .source:active .details,
    td > .source:focus  .details {
      left: auto;
      opacity: 1;
    }

    /* If the page is scripted, delay the hover effect */
    td > .source.scripted:hover  .details,
    td > .source.scripted:active .details,
    td > .source.scripted:focus  .details {
      left: -9999px;
      opacity: 0;
    }
    td > .source.active:hover  .details,
    td > .source.active:active .details,
    td > .source.active:focus  .details {
      left: auto;
      opacity: 1;
    }

    td > .source .details > .container {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 0.25em;
    }
    td > .source .details .container .container {
      border: 0.25em solid rgb(239, 239, 239);
      background: white;
      padding: 0.375em; /* 6px / 16px */
      padding-left: 4.75em;
      border-radius: 0.25em;
      position: relative;
      min-height: 60px; /* image.height */

      min-width: 300px;
    }
    td > .source .details .container .container:after {
      content: "";
      display: block;
      width  : 0.6875em; /* 11px / @font-size */
      height : 0.8125em; /* 13px / @font-size */
      background: transparent url(images/source-pointer.svg) bottom no-repeat;
      position: absolute;
      top: -11px;
      left: 2em;
    }
    td > .source .details img {
      width: 60px;
      left: 0.375em;
      height: auto;
      position: absolute;
    }
    td > .source .details h3 {
      font-weight: bold;
    }
    td > .source .details .container > p.numbers {
      color: rgb(153, 153, 153); /* @aluminum */
      font-size: 12px;
      display: inline;
    }
    td > .source .details .container > p.numbers strong {
      font-weight: bold;
    }
    td > .source .details .container > p.numbers + p.numbers {
      margin-left: 0.5em;
      padding-left: 0.7em;
      border-left: 1px solid rgb(217, 217, 217);
    }




    .details .link {
      margin-top: 7px;
    }
    #admin-manage-posts table.posts td .details .link a {
      background: rgb(250, 250, 250);
      border: 1px solid rgb(218, 220, 224);
      color: rgb(102, 102, 102);
      padding: 7px 15px 5px;
      display: block;
      border-radius: 0.25em;
    }
    #admin-manage-posts table.posts td .details .link a:hover,
    #admin-manage-posts table.posts td .details .link a:active,
    #admin-manage-posts table.posts td .details .link a:focus {
      color: rgb(51, 153, 255); /* @link-color */
    }




