

/* =Advertisement
  ----------------------------------------------- */
  .advertisement {
    margin-top: 3em; /* @line-height x 2 */
  }


/* =Feed
  ----------------------------------------------- */
  .feed {
    margin-top: 3em;
    margin-right: 332px;
  }
  .feed h1 {
    font-size: 1.5em; /* 24px / @font-size */
  }
  .feed article {
    border-top: 1px solid rgb(218, 220, 224);
    color: rgb(153, 153, 153); /* @aluminum */
    position: relative;
    padding-top: 1.5em;
  }
  .feed article + article {
    margin-top: 3em; /* @line-height x 2 */
  }
  .feed article:after {
    /* @clearfix */
    /*
    content: "";
    display: table;
    clear: both;
    */
  }
  .feed article.do {
    background: rgb(243, 253, 248);
    padding: 1.5em;
  }
  .feed article h2 {
    font-size: 2.5em; /* 40px / @font-size */
    font-family: "FreightText Light", "FreightTextlight", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @freight */
  }
  .feed article h2 img {
    width: 3.75em; /* 150px / 40px */
    height: auto;
    float: right;
    margin-left: 1.5em;
  }
  .feed article .time {
    float: right;
    color: rgb(204, 204, 204);
    font-size: 0.75em;
  }
  .feed article .count {
    float: right;
    margin-left: 0.5em;
    background: rgb(135, 233, 184);
    text-align: center;
    line-height: 1;
    padding: 2em 3em;
    border-radius: 100em;
  }
  .feed article .count strong {
    font-size: 8.125em; /* 130px / 16px */
    font-weight: normal;
    font-family: "TradeGothicW01-BoldCn20 675334", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    color: white;
    display: block;
  }
  .feed article .count span {
    font-size: 0.6875em; /* 11px / 16px */
    font-family: "Brandon Grot W01 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @brandon */
    display: block;
    text-transform: uppercase;
    color: rgb(81, 140, 110);
  }
  .feed article footer {
    clear: both;
  }


/* =Source
  ----------------------------------------------- */
  .source .summary {
    margin-top: 0;
    font-size: 0.75em; /* 12px / @font-size */
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.5em;
  }
  .source .summary.has-image {
    padding-top: 0;
  }
  .source .summary img {
    width: 2.66666666666667em; /* 32px / 12px */
    height: auto;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: rgb(218, 220, 224);
    vertical-align: middle;
    margin-right: 0.25em;
  }


/* =Source Details
  ----------------------------------------------- */
  .source .details {
    margin-top: 0;
    margin-left: 3em;
    top: 1.6em;
    position: absolute;
    z-index: 1;
    background: white;
    width: 400px; /* 400px / @font-size */
    box-sizing: border-box;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
    left: -9999px;
    opacity: 0;
    transition: opacity 0.2s;
    padding-top: 0.4em;
  }
  .source:hover  .details,
  .source:active .details,
  .source:focus  .details {
    left: auto;
    opacity: 1;
  }

  /* If the page is scripted, delay the hover effect */
  .source.scripted:hover  .details,
  .source.scripted:active .details,
  .source.scripted:focus  .details {
    left: -9999px;
    opacity: 0;
  }
  .source.active:hover  .details,
  .source.active:active .details,
  .source.active:focus  .details {
    left: auto;
    opacity: 1;
  }

  .source .details > .container {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0.25em;
  }
  .source .details .container .container {
    border: 0.25em solid rgb(239, 239, 239);
    background: white;
    padding: 0.375em; /* 6px / 16px */
    padding-left: 4.75em;
    border-radius: 0.25em;
    position: relative;
  }
  .source .details .container .container:after {
    content: "";
    display: block;
    width  : 0.6875em; /* 11px / @font-size */
    height : 0.8125em; /* 13px / @font-size */
    background: transparent url(images/c/source-pointer.svg) bottom no-repeat;
    position: absolute;
    top: -11px;
    left: 2em;
  }
  .source .details img {
    width: 3.75em; /* 60px / @font-size  */
    left: 0.375em;
    height: auto;
    position: absolute;
  }
  .source .details h3 {
    font-size: inherit;
    font-weight: bold;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    transition: color 0.2s;
  }
  .source .details a:hover h3,
  .source .details a:hover h3,
  .source .details a:hover h3 {
    color: rgb(113, 179, 247); /* @link-color */
  }
  .source .details a p {
    margin-top: 0;
    font-size: 0.75em; /* 12px / @font-size */
    color: rgb(153, 153, 153); /* @aluminum */
    margin-bottom: 0;
  }
  .source .details .container > p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    border-top: 1px solid rgb(218, 220, 224);
    padding-top: 0.75em;
    color: rgb(102, 102, 102); /* @steel */
    font-size: 0.875em; /* 14px / @font-size */
  }
  .source .details form {
    margin-top: 0;
    position: absolute;
    top   : 0.375em; /* source-details.padding */
    right : 0.375em;
  }
  .source .details form p {
    margin-top: 0;
  }
  .source .details button {
    border-radius: 0.25em;
    padding: 0.85em 2.25em;
    font-size: 0.875em; /* 14px / @font-size */
    font-weight: bold;
    text-align: center;
    background-color: rgb(135, 233, 184);
    color: white;
    transition: all 0.2s;
    border-width: 0;
  }
  .source .details button:hover,
  .source .details button:active,
  .source .details button:focus {
    background-color: rgb(115, 213, 164);
  }


/* =Social
  ----------------------------------------------- */
  .social p,
  .social form {
    display: inline;
  }
  .social p {
    margin-right: 1em;
  }

  .votes a,
  .comments a {
    color: inherit;
    font-size: 0.75em;
  }
  .votes img,
  .comments img {
    vertical-align: middle;
    margin-right: 0.25em
  }
  .social button {
    border-radius: 0.25em;
    padding: 0.5em;
    min-width: 5em;
    font-size: 1.125em; /* 18px / @font-size */
    font-family: "TradeGothicW01-BoldCn20 675334", "Helvetica Neue", Helvetica, Arial, sans-serif; /* @trade */
    font-weight: normal;
    text-align: center;
    background-color: rgb(249, 249, 249); /* @mercury */
    color: rgb(153, 153, 153); /* @aluminum */
    border: 1px solid rgb(225, 225, 225);
    transition: all 0.2s;
  }
  .social button:hover,
  .social button:active,
  .social button:focus {
    border-color: rgb(113, 179, 247); /* @link-color */
    color: rgb(113, 179, 247); /* @link-color */
  }
  .social button span {
    text-transform: uppercase;
  }
  .social .active button {
    background-color: rgb(113, 179, 247); /* @link-color */
    color: white;
    border-color: transparent;
  }
  .social .active button:hover,
  .social .active button:active,
  .social .active button:focus {
    background-color: rgb(73, 139, 207);
  }
  .do .social .active button {
    background-color: rgb(135, 233, 184);
  }
  .do .social .active button:hover,
  .do .social .active button:active,
  .do .social .active button:focus {
    background-color: rgb(115, 213, 164);
  }

