
    body {
      font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: rgb(51, 51, 51);
      color: white;
    }
    a {
      color: white;
      transition: all 0.2s;
    }
    a:hover,
    a:active,
    a:focus {
      color: rgb(153, 153, 153);
    }

    a img {
      border-width: 0;
    }

    header {
      position: relative;
      margin: 0;
      border-bottom: 1px solid rgb(38, 38, 38);
    }
    header h2 {
      padding: 1.5em;
      box-sizing: border-box;
      font-size: inherit;
      border-bottom: 1px solid rgb(38, 38, 38);
      margin: 0;
    }
    header h2 a {
      display: inline-block;
      background: transparent url(images/good.png) left no-repeat;
      background-image: url(images/good.svg), none;
      background-size: contain;
      width : 4em;    /* image-width(64px)  / font-size(16px) */
      height: 2.25em; /* image-height(36px) / font-size(16px) */

      /* @hidden-accessible-text */
      text-indent: -9999px;
      overflow: hidden;
    }

    header h1 {
      margin: 0;
      padding-top: 0.75em; /* 1.125em / font-size(1.5em) */
      padding-left: 1em; /* logo-padding(1.5em) / font-size(1.5em) */
      padding-right: 1em;
    }
    header .by {
      padding-left: 2em; /* logo-padding(1.5em) / font-size(0.75em) */
      padding-right: 2em;
      padding-bottom: 1.5em; /* 1.125em / font-size(0.75em) */
      margin-bottom: 0;
    }

    @media (min-width: 30em) {
      header {
        padding-left: 8.5em;
        padding-right: 6em;
      }
      header h2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-bottom-width: 0;
        border-right: 1px solid rgb(38, 38, 38);
        margin: 0;
      }
      header h1 {
        padding-left: 0;
      }
      header .by {
        padding-left: 0;
      }
    }

    header h2 a,
    header h2 img {
      display: block;
    }
    header h2 a:hover,
    header h2 a:active,
    header h2 a:focus {
      opacity: 0.6;
    }
    header h1 {
      font-size: 1.5em;
      line-height: 1.1;
    }
    header .by {
      margin-top: 0.25em;
      font-size: 0.75em;
    }
    header .by a {
      font-weight: bold;
    }
    header .back {
      position: absolute;
      z-index: 9999;
      margin: 0;
      top: 1.5em;
      right: 1.5em;
    }
    header .back a {
      display: block;
      border: 1px solid rgb(102, 102, 102);
      padding: 0;
      width: 2em;
      height: 2em;
      border-radius: 0.25em;
      background: rgb(12, 12, 12) url(images/close.png) center no-repeat;
      background-image: url(images/close.svg), none;
      background-size: 40% auto;
    }
    header .back a:hover,
    header .back a:active,
    header .back a:focus {
      opacity: 0.6;
    }
    /* @hidden-accessible */
    header .back a span {
      position: absolute;
      left: -9999px;
    }
    header a {
      text-decoration: none;
    }
    header a:hover,
    header a:active,
    header a:focus {
      color: rgb(153, 153, 153);
    }

    .number {
      margin-top: 0;
      padding-top: 1em;
      text-align: center;
      color: rgb(239, 239, 239);
      font-weight: bold;
    }

    .image {
      position: relative;
    }

    nav ul,
    nav li {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
    }
    nav a {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      background: black;
      background: rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      background-position: center;

      /* @hidden-accessible-text */
      text-indent: -9999px;
      overflow: hidden;
      width: 6%;
    }
    nav .next a {
      right: 0;
      background-image: url(images/next.png);
      background-image: url(images/next.svg), none;
      background-size: 60% auto;
    }
    nav .previous a {
      left: 0;
      background-image: url(images/previous.png);
      background-image: url(images/previous.svg), none;
      background-size: 60% auto;
    }

    html:hover nav a {
      opacity: 0;
    }
    html:hover .image:hover nav a {
      opacity: 1;
    }
    html:hover .image:hover nav a:hover,
    html:hover .image:hover nav a:active,
    html:hover .image:hover nav a:focus {
      opacity: 0.6;
    }

    figure {
      background: black;
      text-align: center;
      margin: 0;
    }
    figure img {
      max-width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .text {
      color: rgb(153, 153, 153);
      max-width: 56.25em; /* image-width(900px) / font-size(16px) */
      padding: 1.5em;
      margin: 0 auto;
      box-sizing: border-box;
      border-width: 0 1px;
      border-color: black;
      border-style: solid;
    }
    .text p:first-child {
      margin-top: 0;
    }

    @media (min-width: 30em) {
      .text {
        padding: 3em;
      }
    }

    .content {
      background: rgb(25, 25, 25);
    }
    .ads {
      text-align: center;
    }
    .ads h2 {
      color: rgb(102, 102, 102);
      text-transform: uppercase;
      font-weight: normal;
      font-size: 0.6875em; /* 11px / font-size(16px) */
      margin-top: 1.5em;
      margin-bottom: 0.375em;
    }

    @media (min-width: 30em) and (max-width: 59.9em) {
      .ads section {
        display: inline-block;
        vertical-align: top;
        margin: 1.5em;
      }
    }

    @media (min-width: 60em) {
      body {
        padding-right: 22.5em; /* ad-width(300px) / font-size(16px) + ad-margin(1.875em) x 2 */
      }
      .ads {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1.875em;
      }
    }
